<table class="table">
    <tr class="table-header">
        <th>Nr.</th>
        <th>Pirkimo id.</th>
        <th>Prekės id.</th>
        <th>Prekės Pavadinimas</th>
        <th>Prekių kiekis</th>
        <th>Gavėjo el. paštas</th>
    </tr>
    {% for file in files %}
        {% set fileNr = loop.index0 %}
        {% if files|length > 1 %}
            <tr>
                <td></td>
                <td></td>
                <td> === | {{ fileNr+1 }} Failas | === </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% for rows in file %}
            <tr {% if errors[fileNr][loop.index0] == 1 %}class="error"{% endif %}>
                <td>{{ rows['nr'] }}</td>
                <td>{{ rows['purchase_id'] }}</td>
                <td>{{ rows['item_id'] }}</td>
                <td {% if errors[fileNr][loop.index0] == 2 %}class="error"{% endif %}>{{ rows['item_name'] }}</td>
                <td {% if errors[fileNr][loop.index0] == 3 %}class="error"{% endif %}>{{ rows['quantity'] }}</td>
                <td>{{ rows['user_email'] }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
<form action="{{ path('admin_purchases_delivery_report_submit') }}"
        {{ form_enctype(form) }} method="POST" name="shop_purchases_report_delivery" novalidate>
    {{ form_rest(form) }}
    <div class="form-submit-controls clearfix">
        <button type="submit" class="btn btn-default submit">Patvirtinti</button>
        <p class="secondary-info"> * Neteisingos eilutės bus atmestos.</p>
    </div>
</form>