
<div class="cartContainer col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
    <table class="cartTable table-responsive">
        <tr class="columnTitles">
            <th id="title" class="col-lg-6">Pavadinimas</th>
            <th id="quantity" class="col-lg-1">Kiekis</th>
            <th id="price" class="col-lg-3">Kaina</th>
            <th id="actions" class="actions col-lg-2" ><button class="actionsButton" onclick="clearCart();">Išvalyti</button></th>
        </tr>

        {% for cartItem in cartItems %}
            <tr class="itemContainer">
                <td id="title" class="col-lg-6"><a href="{{ path('shop_itemReview' ,{ 'itemID' : cartItem.items.id }) }}" target="_blank">{{ cartItem.items.itemsdetails.name }}</a></td>
                <td id="quantity" class="col-lg-1"><input title="Keisti kiekį" class="quantityInput" type="text" name="name" value="{{ cartItem.quantity }}" onblur="quantityChange({{ cartItem.items.id }}, this, '{{ app.request.attributes.get('_route') }}' + '/quantityChange' );"/></td>
                <td id="price" class="col-lg-3"><span>{{ (cartItem.items.itemsdetails.price * cartItem.quantity)|number_format(2, ',', '') }} €</span></td>
                <td id="actions" class="actions col-lg-2" ><button class="actionsButton" onclick="dropItem('{{ path('shop_cart_drop' ,{ 'id' : app.user.id, 'idItem': cartItem.id }) }}', this, '{{ asset('images/loading.gif') }}')">Išmesti</button></td>
            </tr>
        {% endfor %}

        <tr class="totalPrices">
            <td id="quantity" class="col-lg-6"></td>
            <td id="comment" class="col-lg-1">Viso:</td>
            <td id="price" class="col-lg-3"><span>{{ totalPriceEU|number_format(2, ',', '') }} €</span></td>
            <td class="col-lg-2 buyButtonWrap actions">
                <button id="buyButton" class="actionsButton" onclick="location.href = '{{ path('shop_cart_order', { 'id': app.user.id }) }}'">Pirkti</button>
            </td>
        </tr>

    </table>


</div>