
{% if category %}

    {% if pagesTotal > 1 %}

        <div class="paginationContainer text-center">
            <ul class="pagination">
                {% for x in 1..pagesTotal %}
                    {% if loop.first and currentPage != 1 %}
                        <li><a class="arrow toFirst" title="Pirmas" href="{{ path('shop_category', {'category': category.name, 'page': 1 }) }}">&laquo;</a></li>
                        <li><a class="arrow toPrevious" title="Praeitas" href="{{ path('shop_category', {'category': category.name, 'page': currentPage - 1 }) }}">&lsaquo;</a></li>
                    {% endif %}


                    {% if pagesTotal <= 4 %}
                        <li class="paginationNumber">
                            <a
                                    {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                    title="{{ loop.index }} puslapis" href="{{ path('shop_category', {'category': category.name, 'page': loop.index}) }}">{{ loop.index }}
                            </a>
                        </li>
                    {% else %}
                        {% if loop.index <= 2 %}
                            <li class="paginationNumber">
                                <a
                                        {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                        title="{{ loop.index }} puslapis" href="{{ path('shop_category', {'category': category.name, 'page': loop.index}) }}">{{ loop.index }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if loop.last and currentPage != pagesTotal %}
                        <li><a class="arrow toNext" title="Kitas" href="{{ path('shop_category', {'category': category.name, 'page': currentPage + 1 }) }}">&rsaquo;</a></li>
                        <li><a class="arrow toLast" title="Paskutinis" href="{{ path('shop_category', {'category': category.name, 'page': pagesTotal }) }}">&raquo;</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}

{% else %}

    {% if pagesTotal > 1 %}

        <div class="paginationContainer text-center">
            <ul class="pagination">
                {% for x in 1..pagesTotal %}
                    {% if loop.first and currentPage != 1 %}
                        <li><a class="arrow toFirst" title="Pirmas" href="{{ path('shop_homepage', {'page': 1 }) }}">&laquo;</a></li>
                        <li><a class="arrow toPrevious" title="Praeitas" href="{{ path('shop_homepage', {'page': currentPage - 1 }) }}">&lsaquo;</a></li>
                    {% endif %}

                    {% if pagesTotal <= 4 %}
                        <li class="paginationNumber">
                            <a
                                    {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                    title="{{ loop.index }} puslapis" href="{{ path('shop_homepage', {'page': loop.index}) }}">{{ loop.index }}
                            </a>
                        </li>
                    {% else %}
                        {% if loop.index >= (currentPage - 2) and loop.index <= (currentPage + 2) %}
                            <li class="paginationNumber">
                                <a
                                        {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                        title="{{ loop.index }} puslapis" href="{{ path('shop_homepage', {'page': loop.index}) }}">{{ loop.index }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if loop.last and currentPage != pagesTotal %}
                        <li><a class="arrow toNext" title="Kitas" href="{{ path('shop_homepage', {'page': currentPage + 1 }) }}">&rsaquo;</a></li>
                        <li><a class="arrow toLast" title="Paskutinis" href="{{ path('shop_homepage', {'page': pagesTotal }) }}">&raquo;</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="tip">puslapis {{ currentPage }} iš {{ pagesTotal }}</div>

        </div>

    {% endif %}

{% endif %}



