
{% if category %}

    {% if pagesTotal > 1 %}

        <div class="paginationContainer text-center">
            <ul class="pagination">
                {% for x in 1..pagesTotal %}
                    {% if loop.first and currentPage != 1 %}
                        <li><a class="toFirst" href="{{ path('shop_category', {'category': category.name, 'page': 1 }) }}">&laquo;</a></li>
                        <li><a href="{{ path('shop_category', {'category': category.name, 'page': currentPage - 1 }) }}">&lsaquo;</a></li>
                    {% endif %}

                    <li class="paginationNumber">
                        <a
                                {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                href="{{ path('shop_category', {'category': category.name, 'page': loop.index}) }}">{{ loop.index }}
                        </a>
                    </li>

                    {% if loop.last and currentPage != pagesTotal %}
                        <li><a href="{{ path('shop_category', {'category': category.name, 'page': currentPage + 1 }) }}">&rsaquo;</a></li>
                        <li><a class="toLast" href="{{ path('shop_category', {'category': category.name, 'page': pagesTotal }) }}">&raquo;</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}

{% else %}

    {% if pagesTotal > 1 %}

        <div class="paginationContainer text-center">
            <ul class="pagination">
                {% for x in 1..pagesTotal %}
                    {% if loop.first and currentPage != 1 %}
                        <li><a class="toFirst" href="{{ path('shop_homepage', {'page': 1 }) }}">&laquo;</a></li>
                        <li><a href="{{ path('shop_homepage', {'page': currentPage - 1 }) }}">&lsaquo;</a></li>
                    {% endif %}

                    <li class="paginationNumber">
                        <a
                                {% if loop.index == currentPage %}class='isCurrent' {% endif %}
                                href="{{ path('shop_homepage', {'page': loop.index}) }}">{{ loop.index }}
                        </a>
                    </li>

                    {% if loop.last and currentPage != pagesTotal %}
                        <li><a href="{{ path('shop_homepage', {'page': currentPage + 1 }) }}">&rsaquo;</a></li>
                        <li><a class="toLast" href="{{ path('shop_homepage', {'page': pagesTotal }) }}">&raquo;</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}

{% endif %}



