{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% stylesheets '@KTUShopBundle/Resources/less/login.less' combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <header class="login-header">
        <h2> Prisijungimas </h2>
        {% image '@KTUShopBundle/Resources/images/logomin.png' %}
        <a href="{{ url('shop_homepage') }}"><img class="side-logo-md" src="{{ asset_url }}" alt="krautuve_logo"/></a>
        {% endimage %}
        {% image '@KTUShopBundle/Resources/images/logoCart.png' %}
        <a href="{{ url('shop_homepage') }}"><img class="side-logo-sm" src="{{ asset_url }}" alt="krautuve_logo"/></a>
        {% endimage %}
    </header>


    {% if error %}
        <div class="errors">Prisijungimas nepavyko.</div>
    {% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_login" novalidate="novalidate">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
