{% embed 'KTUShopBundle:Admin:main.html.twig' %}
    {% block stylesheets %}
        {% stylesheets '@KTUShopBundle/Resources/less/admin/adminCategoryAdd.less' combine=true %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    {% block content %}
        {% set locations = [{ 'path': path('admin_categories'), 'name': 'Kategorijos' },
                            { 'path': '#', 'name': 'Pridėti kategoriją'}] %}
        {% include('@KTUShop/Admin/navigationMap.html.twig') with {'locations': locations} %}
        <div class="form-container">
            <h4 class="form-name">{{ icon('list') }} Pridėti kategoriją</h4>
            <div class="form-body shop_category_add_form clearfix">
                <form action="#"
                        {{ form_enctype(form) }} method="POST" name="shop_category_add" novalidate>
                    {{ bootstrap_set_style('vertical') }}
                    {{ bootstrap_set_widget_col('6') }}
                    {{ bootstrap_set_label_col('4') }}
                    {{ form_rest(form) }}
                    <div class="form-submit-controls clearfix">
                        <button type="submit" class="btn btn-default submit">Patvirtinti</button>
                        <a href="{{ path('admin_categories') }}" type="button" class="btn btn-default submit-cancel">Atšaukti</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endembed %}
{#
{% block javascripts %}
    {% javascripts '@KTUShopBundle/Resources/javascript/assetsClasses/modalWindow.js'
    '@KTUShopBundle/Resources/javascript/admin/adminItemAdd.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}#}
