{% set dataCount = categories|length %}
{% set rowsPerPage = 10 %}
{% embed 'KTUShopBundle:Admin:main.html.twig' %}
    {% block stylesheets %}
        {% stylesheets '@KTUShopBundle/Resources/less/admin/adminCategories.less' combine=true %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    {% block content %}
        {% set locations = [{ 'path': path('admin_categories'), 'name': 'Kategorijos' }] %}
        {% include('@KTUShop/Admin/navigationMap.html.twig') with {'locations': locations} %}
        <div class="table-container">
            <h4 class="table-name">{{ icon('list') }} Kategorijos</h4>
            <div class="table-body">
                <table id="categories" class="table">
                    <tr class="table-header">
                        <th>Kategorija</th>
                        <th>Prekių kiekis</th>
                        <th>Veiksmai</th>
                    </tr>
                </table>
                {% if dataCount == 0 %}
                    <p class="no-data">Nėra kategorijų</p>
                {% else %}
                    {{ tablePagination(dataCount, rowsPerPage) }}
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endembed %}
{% block javascripts %}
    <script>
        var removeCategoryURL = '{{ path('admin_remove_category') }}';
        var tableDataURL = '{{ path('admin_categories_table_data') }}';
        var totalPages = Math.round({{ dataCount }} / {{ rowsPerPage }});
        var rowsPerPage = {{ rowsPerPage }};
    </script>
    {% javascripts '@KTUShopBundle/Resources/javascript/assetsClasses/modalWindow.js'
    '@KTUShopBundle/Resources/javascript/assetsClasses/table/TableHelper.js'
    '@KTUShopBundle/Resources/javascript/admin/adminCategories.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
